[Unit]
Description=SCION Endhost Bootstrapper
Documentation=https://www.scionlab.org
After=network-online.target
Before=scion-daemon.service
Wants=network-online.target

[Service]
Type=oneshot
User=scion
Group=scion
WorkingDirectory=/etc/scion/
ExecStart=/usr/bin/bootstrapper -iface %i -config bootstrapper.toml
RemainAfterExit=True
TimeoutStartSec=120
Restart=no

# Raw network is needed for DHCP
AmbientCapabilities=CAP_NET_RAW
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
